{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" ng-app="ShowTravelsApp">
        <div class="row" ng-controller="travelController">

            <h2>{{ 'Welcome'|trans }}</h2>

        </div>

    </div>
{%  endblock %}
